@model WebBannuochoa.Models.Loai

@{
    ViewBag.Title = "xoaloai";
    Layout = "~/Views/Admin/LayoutAdmin.cshtml";
}
<div class="content-box-header">
    <div class="panel-title">XÁC NHẬN THÔNG TIN LOẠI NƯỚC HOA CẦN XÓA</div>
</div>

<h3>Bạn có đồng ý xóa loại nước hoa này không?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Loại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "LoaiNuochoa")
        </div>
    }
</div>
