
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Layout/Layout_Allpage.cshtml";
}

<div class="col-md-6">
    <div class="shiping-methods">
        <div class="section-title">
            <h4 class="title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thông tin về cửa hàng</font></font></h4>
        </div>
        <span>Số Điện thoại: 0123.321.456</span><br />
        <span>Địa chỉ: 475A Điện Biên Phủ, phường 25, quận Bình Thạnh, TP Hồ Chí Minh. </span><br />
        
        <span>Giới thiệu về cửa hàng: </span>
        <div class="caption">
            <p>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        M Ù I PERFUME chuyên sỉ lẻ các loại nước hoa nhập khẩu từ nước ngoài như Pháp, Mỹ, Ý... Cam kết chính hãng 100%.
                    </font>
                </font>
            </p><p>
            </p>
        </div>
    </div>
</div>
<div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7838.16369318114!2d106.71000287171059!3d10.805043307861947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1534518799573" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>


